.App {
  text-align: center;
  margin-top:2%;
  width:100%;
  height:100%;
  color:white;
}
.card{
  border:none !important;
  margin-left:auto;
  margin-right:auto;
  width:50%
}
.list-group-item{
  color:white !important;
}
.PT-4{
  margin-top: 4%;
}
.hst-btn{
  margin-right: 5%;
}
li{
  border:none !important;
}
@media only screen and (max-width: 800px) {
  .card{
    margin-left:auto;
    margin-right:auto;
    width:100%;
  }
}
.btn{
  /* margin-right:8%; */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
